@charset "UTF-8";
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left;
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

i, cite, em, var, address, dfn {
  font-style: normal; }

[hidefocus], summary {
  outline: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%; }

sup, sub {
  font-size: 83%; }

pre, code, kbd, samp {
  font-family: inherit; }

q:before, q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label, summary {
  cursor: default; }

a, button {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold; }

del, ins, u, s, a, a:hover {
  text-decoration: none; }

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial, \5b8b\4f53;
  color: #333;
  outline: 0; }

body {
  background: #fff; }

a, a:hover {
  color: #333; }

.g-foot {
  height: 280px;
  background-color: #f2f2f2;
  font-family: '\5FAE\8F6F\96C5\9ED1'; }

.m-foot {
  height: 252px; }
  .m-foot .cols {
    float: left;
    padding-top: 30px;
    width: 555px; }
    .m-foot .cols dl {
      float: left;
      width: 85px;
      text-align: center; }
      .m-foot .cols dl dt {
        height: 14px;
        line-height: 14px;
        font-size: 12px;
        font-weight: bold;
        color: #282828;
        border-right: 1px solid #d5d5d5; }
        .m-foot .cols dl dt a {
          color: #282828; }
        .m-foot .cols dl dt.last {
          border: none 0; }
      .m-foot .cols dl dd {
        padding-top: 14px;
        font-size: 12px; }
        .m-foot .cols dl dd a {
          display: block;
          line-height: 20px;
          color: #838383; }
      .m-foot .cols dl a:hover {
        color: #76161f; }
  .m-foot .contact {
    position: relative;
    float: left;
    padding-top: 33px;
    width: 469px; }
    .m-foot .contact .con {
      margin-bottom: 32px;
      height: 80px;
      overflow: hidden;
      border-left: 1px solid #b48488;
      color: #76161f; }
      .m-foot .contact .con a {
        color: #76161f; }
      .m-foot .contact .con li {
        margin-bottom: 13px;
        padding-left: 49px;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
        background-image: url("../images/icons.png");
        background-repeat: no-repeat; }
        .m-foot .contact .con li.sina {
          background-position: 13px 2px;
          font-size: 16px; }
        .m-foot .contact .con li.tel {
          background-position: 13px -19px;
          font-size: 16px; }
        .m-foot .contact .con li.wechat {
          background-position: 13px -40px;
          font-size: 14px; }
        .m-foot .contact .con li.address {
          background-position: 13px -58px; }
        .m-foot .contact .con li.fax {
          background-position: 13px -77px; }
        .m-foot .contact .con li.email {
          background-position: 13px -97px; }
    .m-foot .contact .con-1 {
      height: 73px;
      border-left: 1px solid #909090;
      color: #282828; }
      .m-foot .contact .con-1 a {
        color: #282828; }
      .m-foot .contact .con-1 li {
        margin-bottom: 10px; }
    .m-foot .contact .QRcode {
      position: absolute;
      top: 33px;
      right: 57px;
      width: 80px;
      height: 80px; }

.m-copyright {
  height: 28px;
  line-height: 28px;
  color: #fff;
  background-color: #76161f; }
  .m-copyright span {
    float: right;
    font-size: 12px; }

.header {
  width: 100%; }
  .header:after, .header:before {
    display: table;
    content: ""; }
  .header:after {
    clear: both; }
  .header .left {
    float: left;
    width: 50%;
    height: 65px;
    background: #75181e; }
    .header .left .logo {
      display: block;
      float: right;
      margin-right: 218px; }
      .header .left .logo img {
        margin-top: 18px; }
  .header .right {
    float: left;
    width: 50%;
    position: relative;
    background: #fff;
    height: 65px; }
    .header .right .nav {
      position: absolute;
      top: 0;
      left: -208px;
      height: 65px;
      background: #fff; }
      .header .right .nav:after, .header .right .nav:before {
        display: table;
        content: ""; }
      .header .right .nav:after {
        clear: both; }
      .header .right .nav > li {
        margin-left: -1px;
        float: left;
        position: relative; }
        .header .right .nav > li .link {
          padding-top: 36px;
          display: block;
          height: 29px; }
          .header .right .nav > li .link a {
            display: block;
            padding: 2px 24px;
            border-left: 1px solid #995259;
            font-size: 14px;
            font-family: "微软雅黑";
            /*font-weight: bold;*/ }
          .header .right .nav > li .link:hover {
            border-bottom: 2px solid #76161f;
            height: 27px; }
            .header .right .nav > li .link:hover a {
              color: #76161f; }
        .header .right .nav > li .list {
          position: absolute;
          left: 0;
          display: none;
          z-index: 100;
          width: 100%; }
          .header .right .nav > li .list li {
            display: block; }
            .header .right .nav > li .list li a {
              display: block;
              width: 100%;
              height: 24px;
              line-height: 24px;
              text-align: center;
              font-size: 12px;
              font-family: "微软雅黑regular";
              background: #f2f2f2; }
              .header .right .nav > li .list li a:hover {
                background: #74181d;
                color: #fff; }

.f-cb:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: "."; }

.f-cb {
  zoom: 1; }

.f-m0a {
  margin: 0 auto;
  width: 1024px; }

.u-back {
  position: relative;
  height: 26px; }
  .u-back a {
    position: absolute;
    right: 0;
    display: block;
    width: 65px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #76161f; }

.u-title {
  position: relative;
  height: 36px;
  vertical-align: top;
  font-size: 18px;
  border-bottom: 1px solid #a1a1a1;
  color: #313131; }
  .u-title .more {
    position: absolute;
    bottom: 14px;
    right: 0;
    font-size: 12px;
    font-weight: bold; }

.u-editor {
  height: 400px; }

.m-main-chy {
  background: #a9dafa; }
  .m-main-chy .con {
    margin: 0 auto;
    width: 1024px; }
    .m-main-chy .con .imglb {
      position: relative;
      width: 100%;
      height: 300px;
      overflow: hidden; }
      .m-main-chy .con .imglb .items {
        position: absolute;
        float: left; }
        .m-main-chy .con .imglb .items li {
          float: left; }
          .m-main-chy .con .imglb .items li img {
            width: 100%;
            height: 300px;
            display: block; }
      .m-main-chy .con .imglb .tips {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 20px;
        overflow: hidden; }
        .m-main-chy .con .imglb .tips .nums {
          text-align: center;
          height: 100%; }
          .m-main-chy .con .imglb .tips .nums span {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            text-indent: -99999px;
            margin: 0px 4px 0px 0px;
            background: #c6bda7; }
          .m-main-chy .con .imglb .tips .nums .on {
            background: #76161f; }
      .m-main-chy .con .imglb .toLeft, .m-main-chy .con .imglb .toRight {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        background: #745036;
        width: 32px;
        height: 32px;
        line-height: 32px;
        z-index: 103;
        cursor: pointer;
        color: #fff;
        font-size: 22px;
        text-align: center; }
        .m-main-chy .con .imglb .toLeft:hover, .m-main-chy .con .imglb .toRight:hover {
          background: #76161f; }
      .m-main-chy .con .imglb .toLeft {
        left: 10px; }
      .m-main-chy .con .imglb .toRight {
        right: 10px; }
    .m-main-chy .con .mLink {
      padding-top: 32px; }
      .m-main-chy .con .mLink .linkTab {
        display: block; }
        .m-main-chy .con .mLink .linkTab tbody {
          display: block; }
          .m-main-chy .con .mLink .linkTab tbody tr {
            display: block;
            margin-top: -1px; }
            .m-main-chy .con .mLink .linkTab tbody tr td {
              width: 1%;
              /*border:1px solid #000;*/
              padding: 3px 3px 0 0; }
            .m-main-chy .con .mLink .linkTab tbody tr a {
              display: block;
              background: #f2f2f2;
              text-align: center;
              height: 45px;
              line-height: 45px;
              font-size: 18px;
              color: #313131;
              font-family: "微软雅黑regular"; }
              .m-main-chy .con .mLink .linkTab tbody tr a:hover {
                background: #751b1d;
                color: #fff; }
  .m-main-chy .heng {
    margin-top: 32px;
    width: 100%;
    height: 5px;
    background: #76161f; }
  .m-main-chy .heart {
    margin-top: 32px; }
    .m-main-chy .heart:after, .m-main-chy .heart:before {
      display: table;
      content: ""; }
    .m-main-chy .heart:after {
      clear: both; }
    .m-main-chy .heart .left {
      float: left;
      width: 504px;
      margin-right: 16px; }
      .m-main-chy .heart .left:after, .m-main-chy .heart .left:before {
        display: table;
        content: ""; }
      .m-main-chy .heart .left:after {
        clear: both; }
      .m-main-chy .heart .left .title {
        position: relative;
        padding-bottom: 8px;
        border-bottom: 1px solid #2b2b2b; }
        .m-main-chy .heart .left .title p {
          font-size: 18px;
          color: #313131;
          font-family: "微软雅黑regular";
          font-weight: bold; }
        .m-main-chy .heart .left .title a {
          position: absolute;
          right: 0;
          bottom: 8px;
          font-size: 12px;
          font-weight: bold;
          color: #76161f; }
      .m-main-chy .heart .left .clist {
        margin-top: 32px;
        position: relative;
        height: 296px;
        overflow: hidden;
        width: 100%; }
        .m-main-chy .heart .left .clist .items {
          float: left;
          margin-right: -16px; }
          .m-main-chy .heart .left .clist .items:after, .m-main-chy .heart .left .clist .items:before {
            display: table;
            content: ""; }
          .m-main-chy .heart .left .clist .items:after {
            clear: both; }
          .m-main-chy .heart .left .clist .items li {
            float: left;
            margin-right: 16px; }
            .m-main-chy .heart .left .clist .items li .leader {
              float: left;
              width: 244px; }
              .m-main-chy .heart .left .clist .items li .leader img {
                display: block;
                width: 244px;
                height: 212px; }
              .m-main-chy .heart .left .clist .items li .leader a {
                display: block;
                padding: 16px;
                background: #f2f2f2; }
                .m-main-chy .heart .left .clist .items li .leader a .name {
                  display: block;
                  font-size: 16px;
                  color: #282828;
                  font-family: "微软雅黑"; }
                  .m-main-chy .heart .left .clist .items li .leader a .name .duty {
                    display: inline-block;
                    margin-left: 6px;
                    font-size: 14px; }
                .m-main-chy .heart .left .clist .items li .leader a .des {
                  display: block;
                  margin-top: 6px;
                  font-size: 12px;
                  color: #4b4b4b;
                  line-height: 16px;
                  font-family: "微软雅黑 light"; }
                .m-main-chy .heart .left .clist .items li .leader a .con {
                  display: none; }
                .m-main-chy .heart .left .clist .items li .leader a:hover {
                  background: #75181e; }
                  .m-main-chy .heart .left .clist .items li .leader a:hover .name, .m-main-chy .heart .left .clist .items li .leader a:hover .des {
                    color: #fff; }
      .m-main-chy .heart .left .flex-viewport {
        max-height: 2000px; }
      .m-main-chy .heart .left .flex-direction-nav {
        *height: 0; }
        .m-main-chy .heart .left .flex-direction-nav a {
          position: absolute;
          top: 50%;
          margin-top: -16px;
          background: #333;
          opacity: 0.6;
          width: 32px;
          height: 32px;
          line-height: 32px;
          z-index: 103;
          cursor: pointer;
          color: #fff;
          font-size: 22px;
          text-align: center; }
        .m-main-chy .heart .left .flex-direction-nav .flex-prev {
          opacity: 1;
          left: 0px; }
        .m-main-chy .heart .left .flex-direction-nav .flex-next {
          opacity: 1;
          right: 0px; }
        .m-main-chy .heart .left .flex-direction-nav .flex-next:hover, .m-main-chy .heart .left .flex-direction-nav .flex-prev:hover {
          opacity: 1;
          background: #76161f; }
        .m-main-chy .heart .left .flex-direction-nav .flex-disabled {
          opacity: 0 !important;
          filter: alpha(opacity=0);
          cursor: default; }
      .m-main-chy .heart .left .clist_1 {
        margin-top: 32px;
        position: relative;
        height: 296px;
        overflow: hidden;
        width: 100%; }
        .m-main-chy .heart .left .clist_1 .items li .leader {
          width: 504px; }
          .m-main-chy .heart .left .clist_1 .items li .leader:after, .m-main-chy .heart .left .clist_1 .items li .leader:before {
            display: table;
            content: ""; }
          .m-main-chy .heart .left .clist_1 .items li .leader:after {
            clear: both; }
          .m-main-chy .heart .left .clist_1 .items li .leader img {
            display: block;
            width: 248px;
            height: 296px;
            float: left; }
          .m-main-chy .heart .left .clist_1 .items li .leader a {
            display: block;
            float: left;
            width: 224px;
            height: 232px;
            overflow: hidden;
            padding: 32px 16px;
            background: #f2f2f2; }
            .m-main-chy .heart .left .clist_1 .items li .leader a .name {
              display: block;
              font-size: 16px;
              color: #282828;
              font-family: "微软雅黑"; }
              .m-main-chy .heart .left .clist_1 .items li .leader a .name .duty {
                display: inline-block;
                margin-left: 6px;
                font-size: 14px; }
            .m-main-chy .heart .left .clist_1 .items li .leader a .des {
              display: block;
              margin-top: 16px;
              font-size: 14px;
              color: #4b4b4b;
              line-height: 16px;
              font-family: "微软雅黑 light"; }
            .m-main-chy .heart .left .clist_1 .items li .leader a .con {
              margin-top: 32px;
              display: block;
              width: 100%;
              font-size: 12px;
              line-height: 18px; }
            .m-main-chy .heart .left .clist_1 .items li .leader a:hover {
              background: #75181e; }
              .m-main-chy .heart .left .clist_1 .items li .leader a:hover .name, .m-main-chy .heart .left .clist_1 .items li .leader a:hover .des, .m-main-chy .heart .left .clist_1 .items li .leader a:hover .con {
                color: #fff; }
    .m-main-chy .heart .right {
      float: right;
      width: 504px; }
      .m-main-chy .heart .right .title {
        position: relative;
        padding-bottom: 8px;
        border-bottom: 1px solid #2b2b2b; }
        .m-main-chy .heart .right .title p {
          font-size: 18px;
          color: #313131;
          font-family: "微软雅黑regular";
          font-weight: bold; }
        .m-main-chy .heart .right .title a {
          position: absolute;
          right: 0;
          bottom: 8px;
          font-size: 12px;
          font-weight: bold;
          color: #76161f; }
      .m-main-chy .heart .right .jState {
        margin-top: 32px; }
        .m-main-chy .heart .right .jState:after, .m-main-chy .heart .right .jState:before {
          display: table;
          content: ""; }
        .m-main-chy .heart .right .jState:after {
          clear: both; }
        .m-main-chy .heart .right .jState .img {
          float: left; }
          .m-main-chy .heart .right .jState .img img {
            width: 176px;
            height: 152px; }
        .m-main-chy .heart .right .jState .des {
          float: left;
          padding: 16px 8px 16px 16px;
          height: 120px;
          width: 304px;
          background: #f2f2f2;
          color: #313131; }
          .m-main-chy .heart .right .jState .des .aTitle a {
            font-size: 12px;
            font-family: "微软雅黑";
            font-weight: bold;
            color: #313131;
            letter-spacing: 2px; }
          .m-main-chy .heart .right .jState .des .time {
            margin-top: 8px;
            text-align: right;
            font-size: 10px; }
          .m-main-chy .heart .right .jState .des .con {
            margin-top: 6px;
            line-height: 18px;
            width: 304px; }
          .m-main-chy .heart .right .jState .des:hover {
            background: #75181e; }
            .m-main-chy .heart .right .jState .des:hover .aTitle a, .m-main-chy .heart .right .jState .des:hover .time, .m-main-chy .heart .right .jState .des:hover .con {
              color: #fff; }
      .m-main-chy .heart .right .stateList {
        margin-top: 16px;
        margin-bottom: 100px; }
        .m-main-chy .heart .right .stateList li {
          margin-top: 16px;
          position: relative; }
          .m-main-chy .heart .right .stateList li a {
            padding-left: 14px;
            background: url("../images/list-icon.png") 0 5px no-repeat;
            color: #6c6c6c;
            font-size: 12px;
            font-family: "微软雅黑"; }
          .m-main-chy .heart .right .stateList li span {
            position: absolute;
            right: 1px;
            top: 0; }
          .m-main-chy .heart .right .stateList li:hover a {
            color: #76161f;
            background-position: 0 -14px; }
          .m-main-chy .heart .right .stateList li:hover span {
            color: #76161f; }

.g-bf {
  padding-top: 100px;
  padding-bottom: 68px;
  font-family: '\5FAE\8F6F\96C5\9ED1'; }

.g-bfcontent {
  padding-top: 48px;
  padding-bottom: 100px;
  font-family: '\5FAE\8F6F\96C5\9ED1'; }

.g-list {
  padding-bottom: 100px;
  font-family: '\5FAE\8F6F\96C5\9ED1'; }

.g-bigman {
  padding-top: 48px;
  padding-bottom: 100px;
  font-family: '\5FAE\8F6F\96C5\9ED1'; }

.m-imgtextlist {
  margin-left: -16px; }
  .m-imgtextlist .item {
    float: left;
    margin: 0 0 32px 16px;
    width: 504px;
    height: 200px;
    background-color: #e8e8e8; }
    .m-imgtextlist .item img {
      float: left;
      width: 264px; }
    .m-imgtextlist .item .text {
      position: relative;
      margin-left: 270px;
      padding-top: 30px;
      padding-right: 10px;
      height: 170px; }
      .m-imgtextlist .item .text h1 {
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: normal;
        line-height: 30px;
        color: #494949; }
      .m-imgtextlist .item .text p {
        font-size: 14px;
        line-height: 18px;
        color: #767676; }
      .m-imgtextlist .item .text span {
        position: absolute;
        bottom: 16px;
        right: 16px;
        width: 8px;
        height: 13px;
        background-image: url("../images/icons.png");
        background-position: -7px -120px; }
    .m-imgtextlist .item:hover {
      background-color: #76161f; }
      .m-imgtextlist .item:hover .text {
        margin-left: 262px; }
      .m-imgtextlist .item:hover img {
        margin: 12px;
        width: 232px; }
      .m-imgtextlist .item:hover h1 {
        color: #fff; }
      .m-imgtextlist .item:hover p {
        color: #e8e8e8; }
      .m-imgtextlist .item:hover span {
        background-position: -7px -140px; }

.m-imgtextlist1 .content {
  padding: 32px 0;
  margin-left: -16px; }
  .m-imgtextlist1 .content .item {
    float: left;
    margin-left: 16px;
    width: 244px;
    height: 350px;
    font-size: 14px;
    color: #313131;
    background-color: #f3f3f3; }
    .m-imgtextlist1 .content .item .text {
      padding: 16px;
      line-height: 18px; }
    .m-imgtextlist1 .content .item:hover {
      background-color: #76161f;
      color: #fff; }
  .m-imgtextlist1 .content.f-cb {
    margin-left: -16px; }

.m-imgtextlist1-1 .content {
  margin-left: -8px; }
  .m-imgtextlist1-1 .content .item {
    position: relative;
    margin-left: 8px;
    margin-bottom: 16px;
    width: 336px;
    height: 208px;
    color: #fff; }
    .m-imgtextlist1-1 .content .item .text, .m-imgtextlist1-1 .content .item .text-bg {
      position: absolute;
      bottom: 0;
      display: none;
      padding: 0;
      width: 100%;
      height: 44px;
      line-height: 44px;
      text-align: center; }
    .m-imgtextlist1-1 .content .item:hover .text {
      display: block;
      height: 44px;
      line-height: 44px;
      color: #fff; }
    .m-imgtextlist1-1 .content .item:hover .text-bg {
      display: block;
      background-color: #76161f;
      opacity: .6; }
  .m-imgtextlist1-1 .content.f-cb {
    margin-left: -8px; }

.m-linklist {
  margin-bottom: 32px;
  padding: 32px;
  background-color: #f2f2f2; }
  .m-linklist .title {
    height: 36px;
    vertical-align: top;
    font-size: 14px;
    font-weight: bold;
    color: #313131;
    border-bottom: 1px solid #dcdbda; }
  .m-linklist .content .link {
    display: block;
    padding: 0 8px;
    height: 32px;
    line-height: 32px;
    color: #231815;
    font-size: 12px;
    border-bottom: 1px solid #dcdbda; }
    .m-linklist .content .link span {
      float: right; }
    .m-linklist .content .link:hover {
      background-color: #76161f;
      color: #fff; }

.m-linklist-1 {
  margin-bottom: 0;
  padding: 0;
  background-color: transparent; }
  .m-linklist-1 .content {
    padding: 32px 0; }
    .m-linklist-1 .content .link {
      height: 48px;
      line-height: 48px;
      font-size: 14px; }
      .m-linklist-1 .content .link span {
        width: 80px;
        background-image: url("../images/icons.png");
        background-repeat: no-repeat;
        background-position: 60px -162px; }
      .m-linklist-1 .content .link:hover span {
        background-position: 60px -212px; }

/*# sourceMappingURL=main.css.map */
