@charset "utf-8";
.header {
  width: 100%;
  height:66px;
  &:after, &:before {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
  .left {
    float: left;
    width: 50%;
    height: 66px;
    background: #75181e;
    .logo {
      display: block;
      float: right; margin-right: 218px;
      img {
        margin-top: 18px;
      }
    }
  }
  .right {
    float: left;width: 50%;
    position: relative;
    background: #fff;
    height: 66px;
    .nav {
      position: absolute;
      top:0;
      left:-208px;
      height: 66px;
      background: #fff;
      &:after, &:before {
        display: table;
        content: "";
      }
      &:after {
        clear: both;
      }
      & > li {
        margin-left: -1px;
       float: left;
        position: relative;
        .link {
          padding-top: 36px;
          display: block;
          height: 30px;
          a {
            display: block;
            padding: 2px 28px;
            border-left: 1px solid #995259;
            font-size: 14px;
            font-family: "微软雅黑";
            font-weight: bold;
          }
          &:hover {
            border-bottom: 2px solid #76161f;
            height: 28px;
            a {
              color: #76161f;
            }
          }
        }
        .list {
          position: absolute;
          top:66px;
          left: 0;
          padding: 2px 0;
          display:none;
          z-index: 100;
          width: 100%;
          background: #f2f2f2;
          li{display: block;
            a {
            display: block;
            width: 100%;
            height: 24px;
            line-height: 24px;
            text-align: center;
            font-size: 12px;
            font-family: "微软雅黑regular";
            background: #f2f2f2;
            &:hover {
              background: #74181d;
              color: #fff;
            }
          }

        }}

      }

    }
  }
}
