//body background
body {
  background: url("../images/repeat-bg.jpg") repeat 0 0;
  font-family: '\5FAE\8F6F\96C5\9ED1';
}
//colors
$basered:#76161f;
$title:#313131;
//functions
.f-cb:after {display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb {zoom:1;}
.f-m0a {
  margin: 0 auto;
  width: 1024px;
}
//unit
.u-back {
  position: relative;
  height: 26px;
  a {
    position: absolute;
    right: 0;
    display: block;
    width: 65px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: $basered;
  }
}
.u-title {
  position: relative;
  height: 36px;
  vertical-align: top;
  font-size: 18px;
  border-bottom: 1px solid #a1a1a1;
  color: $title;
  .more {
    position: absolute;
    bottom: 14px;
    right: 0;
    font-size: 12px;
    font-weight: bold;
  }
}
.u-editor {
  height: 400px;
}
.u-load {
  position: relative;
  display: block;
  margin-top: 8px;
  margin-bottom: 32px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: $title;
  background-color: #f2f2f2;
  cursor: pointer;
  i {
    position: absolute;
    top: 17px;
    left: 533px;
    width: 13px;
    height: 13px;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    background-position: -5px -260px;
  }
  &:hover {
    background-color: $basered;
    color: #fff;
    i {background-position: -5px -275px;}
  }
  &.u-load-h {
    i {background-position: -5px -290px;}
    &:hover {
      i {background-position: -5px -305px;}
    }
  }
}