$basered:#76161f;
.m-bflist {
  margin-left: -16px;
  padding-top: 100px;
  padding-bottom: 68px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  .item {
    float: left;
    margin: 0 0 32px 16px;
    width: 504px;
    height: 200px;
    background-color: #e8e8e8;
    img {
      float: left;
      width: 264px;
    }
    .text {
      position: relative;
      margin-left: 270px;
      padding-top: 30px;
      padding-right: 10px;
      height: 170px;
      h1 {
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: normal;
        line-height: 30px;
        color: #494949;
      }
      p {
        font-size: 14px;
        line-height: 18px;
        color: #767676;
      }
      span {
        position: absolute;
        bottom: 16px;
        right: 16px;
        width: 8px;
        height: 13px;
        background-image: url("../images/icons.png");
        background-position: -7px -120px;
      }
    }
    &:hover {
      background-color: $basered;
      .text {margin-left: 262px;}
      img {
        margin: 12px;
        width: 232px;
      }
      h1 {color: #fff;}
      p {color: #e8e8e8;}
      span {background-position: -7px -140px;}
    }
  }
}
.m-bfcontent {
  padding-top: 48px;
  padding-bottom: 100px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  color: #313131;
  .title {
    position: relative;
    height: 36px;
    vertical-align: top;
    font-size: 18px;
    border-bottom: 1px solid #a1a1a1;
    .more {
      position: absolute;
      bottom: 14px;
      right: 0;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .content {
    padding: 32px 0;
    .editor {
      height: 400px;
    }
    .item {
      float: left;
      margin-left: 16px;
      width: 244px;
      height: 350px;
      font-size: 14px;
      color: #313131;
      background-color: #f3f3f3;
      .text {
        padding: 16px;
        line-height: 18px;
      }
      &:hover {
        background-color: $basered;
        color: #fff;
      }
    }
    .link {
      display: block;
      padding: 0 8px;
      height: 48px;
      line-height: 48px;
      color: #231815;
      font-size: 14px;
      border-bottom: 1px solid #dcdbda;
      span {
        float: right;
        width: 80px;
        background-image: url("../images/icons.png");
        background-repeat: no-repeat;
        background-position: 60px -162px;
      }
      &:hover {
        background-color: $basered;
        color: #fff;
        span {background-position: 60px -212px;}
      }
    }
    &.f-cb {margin-left: -16px;}
  }
  .back {
    position: relative;
    height: 26px;
    a {
      position: absolute;
      right: 0;
      display: block;
      width: 65px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      background-color: $basered;
    }
  }
}