@charset "utf-8";
body{background: url(../images/bg.png) repeat;}
.m-main-chy{
  .con{margin:0 auto;width: 1024px;
    .imglb {
      position: relative;
      width: 100%;
      height: 300px;
      overflow:hidden;

      .items {
        position: absolute;
        float: left;
        li {
          float: left;
          img { width: 1024px;
            height: 300px;
            display: block;
          }
        }
      }
      .tips {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 20px;
        overflow: hidden;
        .nums {
          text-align: center;
          height: 100%;
          span {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            text-indent: -99999px;
            margin: 0px 4px 0px 0px;
            background: #c6bda7;
          }
          .on {background: #76161f; }
        }
      }

      .toLeft,.toRight{position: absolute;top:50%;margin-top:-16px;background: #745036; filter:alpha(opacity=60);opacity: 0.6;
        width: 32px;height:32px;line-height: 28px; z-index:103; cursor:pointer; color:#fff; font-size:22px; text-align: center;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;

      }
      .toLeft{ left:-50px;}
      .toRight{right:-50px;}
      &:hover{.toLeft{ left:1px;}
        .toRight{right:1px;}
        .toRight:hover,.toLeft:hover{background:#76161f;filter:alpha(opacity=100);opacity: 1; }
      }
    }
    .mLink{padding-top: 32px;
      .linkTab {display: block;
        tbody{display: block;
          tr{display: block;margin-top: -1px;
            td{  width: 1%; /*border:1px solid #000;*/ padding:3px 3px 0 0;  }
            a{display: block; background:#f2f2f2;text-align: center; height:45px; line-height: 45px;font-size:18px;color:#313131; font-family: "微软雅黑regular";
              &:hover{background: #751b1d;color:#fff;}
           }
            }
          }
        }
      }
    }
    .heng{margin-top:32px;width: 100%; height: 5px; background: #76161f;}
    .heart{margin-top: 32px;
      &:after, &:before {display: table;content: "";}
      &:after {clear: both;}
      .left{
        &:after, &:before { display: table;content: "";}
        &:after {clear: both;}
        float:left;width:504px;margin-right: 16px;
        .title{position:relative;padding-bottom: 8px; border-bottom: 1px solid #2b2b2b;
          p{font-size: 18px; color:#313131; font-family: "微软雅黑regular"; font-weight: bold;}
          a{position: absolute; right:0; bottom:8px; font-size:12px; font-weight: bold;color:#76161f;}
        }
        .clist{margin-top: 32px;position: relative;height:296px;overflow:hidden;width:100%;
        .items{float: left;margin-right:-16px;
          &:after, &:before {display: table;content: "";}
          &:after {clear: both;}
          li{float: left;
            margin-right:16px;
             .leader{float:left;width:244px;
               img{display: block; width:244px;height: 212px;}
               a{ display:block; padding: 16px;background: #f2f2f2;
                 .name{display: block; font-size:16px; color:#282828; font-family: "微软雅黑";
                 .duty{display:inline-block;margin-left:6px; font-size:14px;}
                 }
                 .des{display:block;margin-top:6px;font-size:12px; color:#4b4b4b;line-height: 16px;font-family: "微软雅黑 light";}
               .con{display:none;}
                 &:hover{background: #75181e; .name,.des{color:#fff;}}
               }
             }
          }
         }
          &:hover{
            .flex-next {
              right:1px;
              &:hover{ opacity: 1;filter:alpha(opacity=100);background:#76161f;}
            }
            .flex-prev{
              left:1px;
              &:hover { opacity: 1;filter:alpha(opacity=100);background:#76161f;}
            }
          }
        }
        .flex-viewport {max-height: 2000px;}
        .flex-direction-nav {
       a  {
         position: absolute;top:50%;margin-top:-16px;background: #333; width: 32px;height:32px;line-height: 28px; z-index:103; cursor:pointer;
         color:#fff; font-size:22px; text-align: center;opacity:0.5;filter:alpha(opacity=50);
         -webkit-transition: all .3s ease;
         -moz-transition: all .3s ease;
         transition: all .3s ease;
       }
         .flex-prev {  left:-50px; }
          .flex-next { right:-50px;}

        }
        .clist_1{margin-top: 32px;position: relative;height:296px;overflow:hidden;width:100%;
          .items{
            li{
              .leader{width:504px; &:after, &:before {display: table;content: "";}
                &:after {clear: both;}
                img{display: block; width:248px;height: 296px; float: left;}
                a{ display:block;float:left;width:224px;height:232px; overflow: hidden; padding: 32px 16px;background: #f2f2f2;
                  .name{display: block; font-size:16px; color:#282828; font-family: "微软雅黑";
                    .duty{display:inline-block;margin-left:6px; font-size:14px;}
                  }
                  .des{display:block;margin-top:16px;font-size:14px; color:#4b4b4b;line-height: 16px;font-family: "微软雅黑 light";}
                  .con{margin-top:32px;display: block; width: 100%; font-size:12px; line-height: 18px;}
                  &:hover{background: #75181e; .name,.des,.con{color:#fff;}}
                }
              }
            }
          }
        }
      }
      .right{
        float: right;
        width: 504px;
        .title{position:relative;padding-bottom: 8px; border-bottom: 1px solid #2b2b2b;
        p{font-size: 18px; color:#313131; font-family: "微软雅黑regular"; font-weight: bold;}
        a{position: absolute; right:0; bottom:8px; font-size:12px; font-weight: bold;color:#76161f;}
      }
      .jState{margin-top:32px;
        &:after, &:before {
        display: table;
        content: "";
      }
        &:after {
          clear: both;
        }
        .img{float: left;
          img{width: 176px; height:152px;}}
        .des{float:left;padding:16px 8px 16px 16px;height:120px; width:304px;background: #f2f2f2;color:#313131;
          .aTitle a{font-size:12px; font-family: "微软雅黑"; font-weight: bold; color:#313131;letter-spacing:2px;}
          .time{margin-top: 8px; text-align: right;font-size:10px;}
          .con{margin-top:6px;line-height: 18px;width: 304px; height: 50px; overflow: hidden;}
          &:hover{.aTitle a,.time,.con{color:#fff;} background: #75181e;}
        }

      }
        .stateList{margin-top:16px; margin-bottom: 100px;
          li{margin-top:12px;position: relative;
          a{padding-left:14px; width:406px;white-space:nowrap ; text-overflow:ellipsis;display: inline-block; overflow: hidden; background:url("../images/list-icon.png")0 3px no-repeat;color:#6c6c6c; font-size:12px; font-family: "微软雅黑"; }
          span{position: absolute; right: 1px; top:0;}
            &:hover{
              a{color:#76161f;background-position: 0 -16px;}
              span{color:#76161f;}
            }
          }
        }
      }
    }
  }















